<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kelijun.com.qbox">

    <!-- 需要动态申请的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 后台自动授予的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- ShareSDK 配置 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- ShareSDK 配置 -->


    <!-- SMS_SDK配置 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- SMS_SDK 配置 -->
    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity
            android:name=".module.start.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.start.welcome.WelcomeActivity"
            android:screenOrientation="portrait" />
        <!-- 启动模式 -->
        <activity
            android:name=".module.main.MainsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".module.news_category.CategoryActivity" />
        <activity android:name=".module.NewsDetailsActivity.NewsDetailsActivity" />
        <activity android:name=".module.wechat.WeChatDetailsActivity" />
        <activity android:name=".module.find.joke.JokeActivity" />
        <activity android:name=".module.pinchimage.PinImageActivity" />
        <activity android:name=".Html5Activity" />
        <activity android:name=".module.find.FindMoreActivity" />
        <activity android:name=".module.find.QueryInfoActivity" />
        <activity android:name=".module.find.chinacalendar.ChinaCalendarActivity" />
        <activity android:name=".module.me.UserInfoActivity" />
        <activity android:name=".module.me.AddressActivity" />
        <activity android:name=".module.me.CalendarActivity" />
        <activity android:name=".module.me.weather.weather.WeatherActivity"></activity>

        <service android:name=".update.DownloadService"/>
    </application>

</manifest>